## Basic of data structure 
1- Tuple 

2- list

3- Dictnary

4- Set


# Tuple 
All types of elements can be store

round perenthesis are use ()

you can't change them when data store

these are some rules for tuple data structure

In [2]:
#for example 
tuple = ("ijaz", 2.3, 5, True )
tuple

('ijaz', 2.3, 5, True)

## indexing in tuple

In [4]:
tuple[3]

True

In [8]:
#in python tuple last element are exlclussive becouse it start form 0.
tuple[0:3]

('ijaz', 2.3, 5)

In [9]:
tuple1 =(23.4, 4, True, "ali")
tuple1

(23.4, 4, True, 'ali')

In [11]:
#adding of two tuple called in python language concatinate

tuple+tuple1

('ijaz', 2.3, 5, True, 23.4, 4, True, 'ali')

---

# 2 type of python data structure 
2- LIST

-enclosed in [] square baracket

-mutatable you can change the value

In [20]:
list =[ 4, False, "ali"]
list

[4, False, 'ali']

In [21]:
type(list)

list

In [22]:
list[2]

'ali'

In [16]:
list2 = [ "ijaz",3,65,44556, False]
list2

['ijaz', 3, 65, 44556, False]

In [18]:
list2*2

['ijaz', 3, 65, 44556, False, 'ijaz', 3, 65, 44556, False]

In [29]:
list2.append(54)
list2

['ijaz', 3, 65, 44556, False, 54, 54, 54]

In [30]:
list3 =[34,34,2,234,2423,523,432,423,2,45,252,32]
list3

[34, 34, 2, 234, 2423, 523, 432, 423, 2, 45, 252, 32]

In [31]:
list3.sort()

In [32]:
list3

[2, 2, 32, 34, 34, 45, 234, 252, 423, 432, 523, 2423]

----

# 3- Dictnary 3rd type of data structure in python

-unorderd collection of element

-key and values or present

-{ } curly bracket are used

-mutatable change the value

In [35]:
food = {"samosa": 30, "pakorai": 10, "rayta":20, "salad":50}
food

{'samosa': 30, 'pakorai': 10, 'rayta': 20, 'salad': 50}

In [36]:
type(food)

dict

In [39]:
#how to extract data
keys1 =food.keys()
keys1

dict_keys(['samosa', 'pakorai', 'rayta', 'salad'])

In [42]:
value=food.values()
value

dict_values([30, 10, 20, 50])

In [52]:
#update the vlaues
food["samosa"]=50

In [53]:
food

{'samosa': 50, 'pakorai': 10, 'rayta': 20, 'salad': 50}

# 4- Set
-unordered and on indexed

-use as {} bracers

-no dublicated allowed

In [54]:
set1 = {1,2,3,4,5,23, "ijaz", "ali", "swat"}
set1

{1, 2, 23, 3, 4, 5, 'ali', 'ijaz', 'swat'}

In [55]:
type(set1)

set